/*	Jose Escobar Mejia - Website main-stylesheet
	Author: Jose Escobar Mejia
	Date: 	1/18/2016
	
*/
body {
	background-color: #17222C;
	text-align: center; 
	color: white; 
}

section {
	color: orange;
}

footer {
	color: #00bfff;
}